body {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  background-color: hsl(0, 3%, 94%);
  padding-bottom: 40px;
}

.teamwork-banner-container {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.teamwork-banner-container img {
  width: 100%;
  height: 400px;
  display: block;
  object-fit: cover;
}

.meet-team-banner {
  background-color: #5e35b1;
  color: white;
  font-size: 28px;
  margin: 0;
  padding: 20px 0;
  text-align: center;
  font-family: "Playfair Display", serif;
}


.about {
  padding: 40px 20px;
  background-color: white;
}


.team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 250px;
  font-family: "Playfair Display", serif;
}

.member {
  background-color: #6a4bb1;
  color: white;
  width: 350px;
  border-radius: 20px;
  padding: 50px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.info {
  margin-top: 10px;
}

.links a {
  display: inline-block;
  margin: 5px;
  color: #0077b5;
  text-decoration: none;
  font-weight: bold;
}
