/* .pcos-page {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  color: #000000;
  background-color: #f9f9f9;
  padding-bottom: 40px; 
} */

.headings {
    background-image: linear-gradient(#1f1444, #5e35b1);
    display: flex;
    justify-content: center;
    color: white;
    padding: 30px;
    font-family: 'Poppins', sans-serif;
  }

.header-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.banner-pcos {
  height: 71px;
  background-color: #5e35b1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-title-pcos {
  font-size: 36px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  color: white;
  text-align: center;
  margin: 0;
}

.summary-text h2,
.section h2,
.pcos-section h2,
.resources h2 {
    font-family: 'Poppins', sans-serif;
  color: #524389;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
  font-size: 26px;
}

.container {
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 20px;
  padding-top: 40px;
}

.summary-row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: flex-start;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  margin-bottom: 40px;
}

.summary-row img {
  max-width: 400px;
  border-radius: 12px;
  object-fit: cover;
  flex: 1;
}

.summary-text {
  flex: 2;
}

p,
ul {
  line-height: 1.8;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

.section {
  margin-top: 60px;
}

.resources {
  background-color: #6c62a8;
  color: white;
  padding: 60px 20px;
  text-align: center;
}

.card-row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.card {
  background: white;
  color: #2a0808;
  border-radius: 12px;
  width: 220px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-content h4,
.card-content p,
.card-content small {
    font-family: 'Poppins', sans-serif;
}

.card-content h4 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #271178;
}

.card-content p {
  font-weight: bold;
  color: #000000;
  font-size: 18px;
}

.card-content small {
  color: #666;
  font-size: 16px;
}

@media (max-width: 768px) {
  .summary-row {
    flex-direction: column;
  }

  .card-row {
    flex-direction: column;
    align-items: center;
  }
}
