/* Footer Styling */
footer {
  background-color: #3b2c72;
  background-image: linear-gradient(#5e35b1,#1f1444);

}

form {
  width: 100%;
  background-color: #5e35b1;
  color: white;
  padding: 25px;
}

.social-media-icons img {
  width: 45px;
  margin-right: 5px;
}

.contact-form {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 40px;
}

.row {
  padding: 100px;
  padding-right: 15px;
}

.col-md-6 {
  color: white;
}

.footer-pages-title {
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 0;
  margin-top: 10px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  list-style-type: none;
  padding: 10px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.copyright {
  background-color: #5e35b1;
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 50px;
  gap: 20px;
}

.copyright h2 {
  font-size: 15px;
}
